<a href="https://colab.research.google.com/github/jenrios14/Data-Science-FEM-Study-Group/blob/master/Coursera.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def add_numbers(x, y):
    return x + y

add_numbers(3,4)

7

In [2]:
def add_numbers(x,y):
  return x+y
add_numbers(3,4)

7

In [0]:
def add_numbers(x, y, z=None):
  if (z==None):
    return x+y
  else:
    return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1,2,3))

3
6

In [4]:
def add_numbers(x,y,z=None):
  if (z==None):
    return x+y
  else:
    return x+y+z
add_numbers(1,2,3)

6

In [0]:
def add_numbers(x,y,z=None,flag=False):
  if (flag):
    print('Flag is true!')
  if (z==None):
    return x+y
  else:
    return x+y+z

print(add_numbers(1,2,3,flag=True))

In [7]:
def add_numbers(x,y,z=None, flag=False):
  if (flag):
    print('Flag is true!')
    if (z==None):
      return x+y
    else:
      return x+y+z
print(add_numbers(1,2,3,flag=True))

Flag is true!
6

In [0]:
x = (1,'a',2,'b')
x

(1, 'a', 2, 'b')

In [0]:
x = [1,'a',2,'b']
x

[1, 'a', 2, 'b']

In [0]:
for item in x:
  print(item)

1
a
2
b

In [0]:
i = 0
while (i!=len(x)):
  print(x[i])
  i = i+1

1
a
2
b

In [0]:
def a(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return a(n-1)+a(n-2)

for i in range(0,4):
  print(a(i),end= " ")

0 1 1 2

In [0]:
import pandas as pd

In [0]:
df = pd.DataFrame({"A": [1,2,3], "B": [-2, 8, 1]})

In [0]:
df

   A  B
0  1 -2
1  2  8
2  3  1

In [0]:
df[["A", "B"]]

   A  B
0  1 -2
1  2  8
2  3  1

In [0]:
df[["A", "B"]].max(axis=1)

0    1
1    8
2    3
dtype: int64

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.cluster import KMeans
from sklearn.metrics import pairwise_distances_argmin_min
 
%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
plt.rcParams['figure.figsize'] = (16, 9)
plt.style.use('ggplot')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
import os
os.getcwd()

'/content'

In [0]:
os.chdir("/Users/jeniferriossierra/Desktop")

FileNotFoundError: ignored

In [0]:
df = pd.read_excel('data.xlsx',sheet_name=0)
df.head(1)

    cotizanteid  ...                     descripcionactividadeconomica
0  CC1000062164  ...  Otras actividades de servicios personales n.c.p.

[1 rows x 28 columns]

# Secci√≥n nueva

In [0]:
df[["nmibc_parafiscal", "nmibc_pension", "nmibc_riesgos","nmibc_salud","nmsalario_basico"]].max(axis=1)

0        828116.0
1       1059266.0
2       1073759.0
3        828116.0
4        828116.0
          ...
9568    1562484.0
9569    1562484.0
9570    1562484.0
9571    1160300.0
9572    1160300.0
Length: 9573, dtype: float64

Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl
CtyMpgByCyl = []

In [0]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [0]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass